DB_HOST=填写Sealos分配的MySQL外网或内网地址（如: xxx.mysql.svc.cluster.local）
DB_PORT=3306
DB_USER=root
DB_PASS=填写你的MySQL密码
DB_NAME=moban
WECHAT_APPID=wx9b8de70c359e85b2
WECHAT_SECRET=your_wechat_app_secret
AUTH_TOKEN_SECRET=change_this_token_secret
AUTH_TOKEN_TTL_SECONDS=2592000

REDIS_HOST=填写Sealos分配的Redis外网或内网地址（如: xxx.redis.svc.cluster.local）
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASS=填写你的Redis密码

PORT=3000
NODE_ENV=production
UPLOAD_LIMIT=50mb
CLEANUP_DAYS_LIMIT=7

# 如果需要上传图片到 Sealos S3（根据实际情况修改）
S3_ENDPOINT=https://objectstorageapi.bja.sealos.run
S3_ACCESS_KEY=你的S3_ACCESS_KEY
S3_SECRET_KEY=你的S3_SECRET_KEY
S3_BUCKET_NAME=你的Bucket名称
S3_REGION=us-east-1
S3_PUBLIC_URL=你的Bucket对外访问URL
