DB_HOST=填写Sealos分配的MySQL外网或内网地址（如: xxx.mysql.svc.cluster.local）
DB_PORT=3306
DB_USER=root
DB_PASS=填写你的MySQL密码
DB_NAME=moban

REDIS_HOST=填写Sealos分配的Redis外网或内网地址（如: xxx.redis.svc.cluster.local）
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASS=填写你的Redis密码

NODE_ENV=production